*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

#first {
    height: 14%;
    width: 100%;
    background-color: gray;
    
}

#second {
    height: 30%;
    width: 100%;
    background-color: white;
    
}

#third {
    height: 14%;
    width: 100%;
    background-color: blue;
    
}

#fourth {
    height: 14%;
    width: 100%;
    background-color: aqua;
    
}

#fifth {
    height: 14%;
    width: 100%;
    background-color: green;
    
}

#sixth {
    height: 14%;
    width: 100%;
    background-color: yellow;
    
}

h4 {
    padding: 30px;
    font-family: "Verdana";
}

#floater {
    height: 75px;
    width: 75px;
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;

}
